@page "/AnyUiFlyoutContextMenu"
@using AnyUi
@using BlazorUI.Data
@inject BlazorUI.Data.AASService SubmodelService
@inject BlazorUI.Data.BlazorSession bi

@if(EventSession != null && SpecialAction is AnyUiSpecialActionContextMenu sacm)
{
	@* see Modal.razor: Bootstrap inner dialog classes *@

	int numItems = 2;
	if (sacm.MenuItemHeaders != null && sacm.MenuItemHeaders.Count() >= 4)
		numItems = (150 * sacm.MenuItemHeaders.Count() / 2) / 100;

	<div class="modal-header">
		<h3 class="modal-title" id="exampleModalLongTitle">@sacm.Caption</h3>
		<button type="button" class="close btn btn-backdrop" aria-label="Close"
			@onclick="() => LeaveResult(false)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<span @ondblclick="@DblHandler">
				<select class="form-control selectpicker" multiple data-max-options="2"
					style="height:@(numItems)rem; max-height: 60vh;"
					aria-label="multiple select example" @onchange="@OnSelect">

					@if (sacm.MenuItemHeaders != null)
						for (int i = 0; i < sacm.MenuItemHeaders.Count(); i += 2)
						{
							<option value="@(i)">@(sacm.MenuItemHeaders[i] + sacm.MenuItemHeaders[i + 1])</option>
						}

				</select>
			</span>
        </form>
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-primary-light btn-lg" @onclick="() => LeaveResult(true)">OK</button>
	
	</div>
}

@code {
	[Parameter]
	public AnyUiHtmlEventSession EventSession { get; set; }

	[Parameter]
	public AnyUiSpecialActionBase SpecialAction { get; set; }

	void OnSelect(ChangeEventArgs e)
	{
		if (SpecialAction is AnyUiSpecialActionContextMenu sacm
			&& e.Value is string[] varr
			&& varr.Length > 0
			&& int.TryParse(varr[0], out int i)
				&& sacm.MenuItemHeaders != null
				&& i >= 0 && i < sacm.MenuItemHeaders.Count())
		{
			sacm.ResultIndex = i;
		}
	}

	void DblHandler(MouseEventArgs e)
	{
		LeaveResult(true);
	}

	public void LeaveResult(bool result)
	{
		if (result 
			&& SpecialAction is AnyUiSpecialActionContextMenu sacm
			&& sacm.ResultIndex >= 0)
		{
			EventSession?.EndModal(true);			
		}
		else
		{
			EventSession?.EndModal(false);
		}		
	}
}
