@page "/test3"
@using AdminShellNS
@using static AdminShellNS.AdminShellV20;
@using AnyUi
@using BlazorUI.Shared
@inject BlazorUI.Data.AASService SubmodelService
@inject BlazorUI.Data.blazorSessionService bi

@{
    // resharper disable all
}


@{

    @if (_panel != null && _panel.Orientation == AnyUiOrientation.Horizontal)
    {
        @* Render the STACK HORIZONTALLY *@

        <table @attributes="@PanelAttributes" style="width: 100%; border: 1px solid black;">
            <tr>
                <td>
                    @if (_panel?.Children != null)
                        foreach (var ch in _panel.Children)
                        {
                            <AnyUiRenderElem DisplayData="@DisplayData"
                                             Session="@Session"
                                             Element="@ch" />
                        }
                </td>
            </tr>
        </table>
    }

    @if (_panel != null && _panel.Orientation == AnyUiOrientation.Vertical)
    {
        @* Render the STACK VERTICALLY *@
        <table @attributes="@PanelAttributes" style="width: 100%; border: 1px solid black;">
            <thead>
                <tr>
                    <th>
                        0
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    @if (_panel?.Children != null)
                        foreach (var ch in _panel.Children)
                        {
                            <tr>
                                <td>
                                    <AnyUiRenderElem DisplayData="@DisplayData"
                                                     Session="@Session"
                                                     Element="@ch" />
                                </td>
                            </tr>
                        }
                }
            </tbody>
        </table>
    }
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> PanelAttributes { get; set; }

    [Parameter]
    public AnyUiDisplayDataHtml DisplayData { get; set; }

    [Parameter]
    public Data.blazorSessionService Session { get; set; }

    protected AnyUiStackPanel _panel = null;

    [Parameter]
    public AnyUiStackPanel Element
    {
        get { return _panel; }
        set
        {
            _panel = value;
            if (_panel == null)
                return;
        }
    }

}
