@page "/"
@using AdminShellNS
@using BlazorUI
@using AnyUi

<h1>Hello, world!</h1>

Welcome to your new app.

@{
    <br />
    foreach (var aas in Program.env.AasEnv.AdministrationShells)
    {
        <span style="color:white;background-color:blue;">@aas.idShort</span>
        <br />
        <span style="color:white;background-color:blue;">@aas.identification</span>
        <br />

    }

    <br />
    <span>Test</span>
    <br />

    <span>@Program.LogLine</span>
    <br />


    foreach (var ch in Program.stack.Children)
    {
        if (ch is AnyUiLabel chlb)
        {
            <span>@chlb.Content</span>
            <br />
        }

        if (ch is AnyUiTextBox chtb)
        {
            <span>@chtb.Text</span>
            <br />

            <input @bind="CurrentValue" />
            <span style="color:white;background-color:blue;">@CurrentValue</span>
            <br />
            @code { private string CurrentValue { get; set; } }
            if (CurrentValue != null)
            {
                chtb.Text = CurrentValue; // for re-rendering the html directly
                this.StateHasChanged();
                CurrentValue = null;
            }
        }

        if (ch is AnyUiButton chbt)
        {
            <span>@chbt.Content</span>
            <br />

            <button style="color:white;background-color:blue" @onclick="() => MyClick(chbt)">@chbt.Content</button>
            @code {
                private void MyClick(AnyUiButton chbt)
                {
                    // Program.LogLine = "Clicked " + DateTime.Now.ToString();
                    var dd = chbt?.DisplayData as Program.BlazorDisplayData;
                    dd?.MyLambda(chbt);
                }
            }
            <br />
        }
    }

}


<SurveyPrompt Title="How is Blazor working for you?" />
